<div class="home-hero-banner">
    <div class="hero-text">
        <h1>WELCOME TO <br/> YOUR <br/> <span style="font-weight:600;">FOOD HAVEN</span></h1>
        <h3 class="mb-5 mt-4"><span id="banner-typed-text"></span></h3>
        <%= link_to "LET'S EAT", restaurants_path, class: "mt-5 cta-button"%>
    </div>
    <%= image_tag "hero-image.jpeg", alt: "Le Wagon", class: "hero-image"%>
    <%= image_tag "hero-image-2.jpeg", alt: "Le Wagon", class: "hero-image-2"%>
    <%= image_tag "hero-image-3.jpeg", alt: "Le Wagon", class: "hero-image-3"%>
    <%= image_tag "hero-image-4.jpeg", alt: "Le Wagon", class: "hero-image-4"%>
    <%= image_tag "hero-image-5.jpeg", alt: "Le Wagon", class: "hero-image-5"%>
    <%= image_tag "hero-image-6.jpeg", alt: "Le Wagon", class: "hero-image-6"%>
</div>
