<div class="restaurants-show-container">
    <h1 class="restaurant-show-title"><%=@restaurant.name%></h1>
    <div class="restaurant-show-rating">
        
        <div class="restaurant-info">
            <p><i class="fas fa-utensils mr-3"></i> <%=@restaurant.cuisine%></p>
            <p><i class="fas fa-home mr-3"></i> <%=@restaurant.address%></p>
            <p><i class="fas fa-book mr-3"></i> Bookings Available</p>
            <p><i class="fas fa-laptop mr-3"></i><a href=<%= @restaurant.website %> class="website-link">Website</a></p>
            <p><i class="fas fa-money-check-alt mr-3"></i><%= @restaurant.pricing%></p>
        </div>
        <div class="d-flex flex-column justify-content-end restaurant-rating">
            <% if @reviews.size == 0 %>
                <div style="color: #525260;">No reviews yet</div>
            <% else %>
                <% rating_multiple = @sum_restaurant_rating / @reviews.size %>
                <div>
                    <% rating_multiple.times do %>
                        <i class="fas fa-star"></i>
                    <% end %>
                        <% if @restaurant.reviews.size == 1 %>
                        <%= link_to "#{@restaurant.reviews.size} review", restaurant_reviews_path(@restaurant), class:"link-to-reviews" %>
                        
                        <% else %>
                            <%= link_to "#{@restaurant.reviews.size} reviews", restaurant_reviews_path(@restaurant), class:"link-to-reviews" %>
                        <% end %>
                </div>
            <% end %>
            <%= link_to "(Add a review)", new_restaurant_review_path(@restaurant), class:"add-reviews" %>
        </div>
    </div>
    <div class="restaurant-description">
        <%= image_tag "quotes-left.svg", alt: "left-quote", width: 100, class:"restaurant-description-leftq" %>
        <h2 class="restaurant-show-description"><%=@restaurant.description%></h2>
        <%= image_tag "quotes-right.svg", alt: "right-quote", width: 100, class:"restaurant-description-rightq" %>
    </div>    
    
    <div class="restaurant-photos">
    <% @restaurant.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>  
    </div>
</div>