<h1>Name:<%=@restaurant.name%></h1>
<h1>Description:<%=@restaurant.description%></h1>
<h1>Address:<%=@restaurant.address%></h1>
<h1>Cuisine:<%=@restaurant.cuisine%></h1>
<h1>Rating:<%=@restaurant.rating%></h1>

<%= link_to "See all reviews", restaurant_reviews_path(@restaurant) %>
<%= link_to "Add review", new_restaurant_review_path(@restaurant) %>